* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fafafa;
    margin: 30px 50px 30px 50px;    
}
h1 {
    text-shadow: 2px 2px 3px rgba(137, 139, 100, 0.607);
}
div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.cards{
    border-radius: 5px;box-shadow: 7px 7px 13px 5px rgba(50, 50, 50, 0.299);
    padding: 30px;
    margin: 30px;
    width: 400px;transition: all 0.3s ease-out;
    height: 500px;
}
.cards, h2 {
    margin-bottom: 10px;
}

.cards:hover {
    transform: translateY(-10px);
}
#naruto {
    padding-bottom: 60px;
}
#bleach {
    padding-bottom: 25px;
}
p {
    margin: 5px;    
    text-align: justify;    
}
#txt {
    padding-bottom: 10px;
}
a {
    padding-top: 30px;
    margin-top: 5px;
    text-decoration: none;
}
a:hover {  
    padding-top: 20px;  
    font-weight: bold;
    color: black;
    font-size: 18px;
}